@import "tailwindcss";

@theme {
  --color-background: #0F172A;
  --color-surface: #1E293B;
  --color-primary: #10B981;
  --color-secondary: #F59E0B;
  --color-accent: #6366F1;
  --color-text-main: #F8FAFC;
  --color-text-muted: #94A3B8;
}
